#menuBG {
    width:400px;
    height:470px;
    margin:10px auto;
     font-family:Georgia, 'Times New Roman', Times, serif;
     color:gold;
}

#frmMenu {
    width:600px;
    height:200px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:gold;
}

#totalPrice {
    width:200px;
    height:190px;
    margin: 20px auto;
    float:right;
}

.left {
    width:200px;
    height:200px;
    float:left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.vegetables {
    width:200px;
    height:200px;
    float:left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.right {
    width:200px;
    height:200px;
    float:right;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#showText {
    width:200px;
    height:190px;
    margin:0px auto;
    float:left;
}

#cart {
    top:0; margin:0px auto;
    width:400px;
    height:200px;
    font-family:'Times New Roman', Times, serif;
    color:red;
}

#btnOrder {
    margin:10px 0px 0px 100px;
    width:100px;
    height:40px;
    display:block;
    margin:25px auto;
}

body {
    background-color:black
}

h1 {
    font-family:'Times New Roman', Times, serif;
    color:gold;
}

h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:whitesmoke;
}